@import "vars";
@import "normalize.css/normalize.css";

body {
  font-family: $text-font-family;
  font-size: $text-font-size;
  font-weight: $text-font-weight;
}

p {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

input, button {
  border: none;
}
.todo-spacing{
  padding: 15px;
}
.todo-wrapper {
  position: fixed;
  width: 300px;
  top: 10%;
  left: 40%;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 50%);
  border-radius: 5px;
}

.todo-border {
  border-bottom: 1px solid #80808030;
}

.todo-button {
  display: flex;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0 6px 0;
}

.todo-add {
  display: flex;
  align-items: center;
}

.todo-complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}