@import "vars";
@import "normalize.css/normalize.css";

body {
  font-family: $text-font-family;
  font-size: $text-font-size;
  font-weight: $text-font-weight;
}

p, h4 {
  margin: 0;
  width: 100%;
  word-break: break-word;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  background: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.todo-button {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    opacity: 0.8;
  }
}

.todo-spacing {
  padding: 15px;
}

.container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.wrapper {
  margin: 20px 0;
}

.todo-border {
  border-bottom: 1px solid #80808030;
}